@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; /* Keeps the navbar on top */
  background-color: #ffffff; /* Navbar background */
}

.main-content {
  margin-top: 4rem; /* Adjust based on navbar height */
}

.main-content {
  overflow-y: auto;
  padding-top: 4rem; /* Adjust if needed */
}
